
* {
    margin: 0px;
    /* border: 1px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-rows: 1fr 8fr;
}

.header {
    height: 10vh;
    padding: 1rem 2rem;
    display: grid;
    font-weight: bolder;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #3b5998;
    color: #ffffff;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


body, .content {
    color: #333333;
}

.logo {
    width: 50px;
    height: 50px;
    justify-self: start;
    cursor: pointer;
}

.userlogo {
    justify-self: end;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.white-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    border: none;
    width: 50px;
}

.content {
    background-color: #F5F7FA;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr 2fr 1fr; /* Adjust columns for smaller screens */
        padding: 0.5rem 1rem; /* Reduce padding on smaller screens */
    }

    .greeting {
        font-size: 2rem; /* Slightly smaller font size on smaller screens */
    }
}

.nav-buttons {
    display: flex;
    gap: 1rem;
    justify-self: center;
    align-items: center;
}

.nav-buttons button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-buttons button:hover {
    background-color: #50E3C2;
}

.header-search {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 200px;
    max-width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0 ,0.1);
    justify-self: center;
}

.header-search:focus {
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.user-dropdown {
    position: relative;
    display: inline-block;
    justify-self: end;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

form {
    border-radius: 8px;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto;
    gap: 1.5rem;
    max-width: 400px;
    max-height: 550px;
    padding-right: 3.5rem;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0 , 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    border-radius: 5px;  
    padding: 0.75rem;
    border: 2px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="checkbox"]:hover {
    background-color: #f9f9f9;
    box-color: #4A90E2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

form label {
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 0.5rem;
    
}

form label strong {
    color: red;
}

form button {
    border-radius: 8px;
    width: 100%;
    padding: 0.75rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4A90E2;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
}

  
form button:hover {
    background-color: #50E3C2;
    transform: translateY(-2px);
}

form button:active {
    transform: translateY(0);
}

form button, input[type="text"], input[type="number"] {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.book-card {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 250px;
    overflow: hidden;
    margin-right: 1rem;
}

form input, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-boxes {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2));
}

.book-card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.book-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem;
    overflow-y: auto;
}

.book-card button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.book-card button:hover {
    background-color: #50E3C2;
}